/*----SASS----*/
$color1: #0a4275;

$color2: #000000033;

 
/*animacion*/
section{
    border-radius: 5px;
    article{border-style: outset; text-align: center;
        h2{font-weight: bolder;                 
        }
    }
}

#socialmedia{
    text-align: center;
    font-weight: bolder;
}

a{
    text-decoration: none;
        &:hover{
            background-color: $color1;   
            color: white;
            }
}

/*animacion*/




.animacionTexto{
    animation-name: texto;
    animation-duration: 2s;
  }
  
  
  
  @keyframes texto{
    from{
      transform: translateX(1000px);
    }
  
    to{
      transform: translateX(0);
    }
  }





/*extend*/




  .estilo_general{
    background-color: $color1;
    color: white;
  }
   
  

  .estilo_pag_alt{
    @extend .estilo_general;
    font-size: 20px;
    font-weight: lighter;
  }

/*mixing*/



 @mixin tamanio($ancho, $altura, $bg_color) {
  width: $ancho;
  height: $altura;
  background-color: $bg_color;
 }

 .fondo_registro_pag_alt{
   @include tamanio(720px,250px,$color1)
 }






$mapa:(
  facebook: $color1,
  mail: $color2
) ;



@each $nombre, $color in $mapa {
  .boton-#{$nombre} {
    color: $color;
  }
}

