section{
    border-radius: 5px;
    article{border-style: outset; text-align: center;
        h2{font-weight: bolder;                 
        }
    }
}

#socialmedia{
    text-align: center;
    font-weight: bolder;
}

a{
    text-decoration: none;
        &:hover{
            font-size: 18px;
            color: white;
            background-color: #0a4275;
            font-weight: lighter;    }
}


.animacionTexto{
    animation-name: texto;
    animation-duration: 2s;
  }
  
  
  
  @keyframes texto{
    from{
      transform: translateX(1000px);
    }
  
    to{
      transform: translateX(0);
    }
  }

/*extend*/




  .estilo_form{
    background-color: #0a4275;
    color: white;
  }
   
  

  .estilo_pag_alt{
    @extend .estilo_form;
    font-size: 20px;
    font-weight: lighter;
  }

/*mixing*/



 @mixin tamanio($ancho, $altura, $bg_color) {
  width: $ancho;
  height: $altura;
  background-color: $bg_color;
 }

 .fondo_registro_pag_alt{
   @include tamanio(720px,250px,#0a4275)
 }






$mapa:(
  facebook: #55acee,
  mail: black
) ;



@each $nombre, $color in $mapa {
  .boton-#{$nombre} {
    color: $color;
  }
}